/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  body {
    background-image: url(https://64.media.tumblr.com/d43fbd394c12f814b39b7fdcf6fd2904/b9d9ed01ecea2b89-f8/s1280x1920/2f96e760a0b3881c7d78f0b36aa4050e7c6236bc.jpg);
  }
  main, footer {
    background-color: #60BAC0;
      max-width: 362px;
    margin: 15px auto;
    padding: 5px;
  }
  h1, p {
    color: #FFFFFF
  }
  h1 {
    Font-family: Audiowide;
    font-size:32px;
  }
  p {
    font-family: goldman;
    font-size: 20px;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }